Geo Wasa
Geometry_Namefile krakow_109_8-38deg_4-71deg.root
# Example detector list. Works with HIBEAM model created using hibeam_g4_geobuilder: ./geobuilder --hibeam --barrel
Detectors TARGET,ProtoTPC,Sci_bar

Source scattering
# Uncomment when running from MCPL
# MCPL_Inputfile mcpl_file.mcpl

WriteHistograms 0
# Uncomment to write particle trajectories to root tree
WriteTree 1

# Uncomment to set number of threads
# Threads 9
