Geo Wasa
Geometry_Namefile ../geometries/k_setup.root
# Example detector list. Works with HIBEAM model created using hibeam_g4_geobuilder: ./geobuilder --hibeam --barrel
Detectors TPC, TARGET, ProtoTPC

Source gps
# Uncomment when running from MCPL
# MCPL_Inputfile mcpl_file.mcpl

WriteHistograms 0
WriteTree 1

# Uncomment to set number of threads
# Threads 8