Geo Wasa
Geometry_Namefile ../geometries/tpc-geometry.root
# Example detector list. Works with HIBEAM model created using hibeam_g4_geobuilder: ./geobuilder --hibeam --barrel
# Detectors TPC,TARGET,SECE0,SECE1,SECE2,SECE3,SECE4,SECE5,SECE6,SECE7,SECE8,SECE9,SECE10,SECE11,SECE12,SECE13,SECE14,SECE15,SECE16
Detectors PCB_1, PCC_1, PCF_1

Source gps
# Uncomment when running from MCPL
# MCPL_Inputfile mcpl_file.mcpl

WriteHistograms 0
# Uncomment to write particle trajectories to root tree
WriteTree 1
# This is to write stuff to the output that has the trajectories in

# Uncomment to set number of threads
# Threads 8
